/vendor
/node_modules
/build
/public/build
/bootstrap/cache/*.php
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/.phpunit.result.cache
/test-reports
/_ide_helper.php
/.phpstorm.meta.php
/.phpactor.json
/.env
/.env.backup
/.env.production
/auth.json
/.idea
/.vscode
/.run
/Homestead.json
/Homestead.yaml
.DS_Store
